/* showcase a debugging tip for finding overflowing elements */
/* * {
  outline: 1px solid red !important;
} */

:root {
  --button-color: #121212;
}

/* Good practice to do this so measurements are more precise */
html,
body {
  /* html, and body tag have default margins */
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  /* This is to standardize fonts throught the page */
  color: black;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
}

html {
  background-image: url("public/image/layered-peaks-haikei.svg");
  background-size: cover;
  background-position: bottom;
}

/* 
Navigation stuff
 */

nav {
  width: 100%;
}

#nav-links {
  list-style: none;
  display: flex;
  gap: 0 10rem;
  justify-content: center;
  padding: 0;
}

#nav-links > li > a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}

#nav-links > li > a:hover {
  text-decoration: underline;
}
/* show css specificity */
a:hover {
  text-decoration: overline;
}

main {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
}

main section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

#desc {
  display: flex;
}

#desc > h4 {
  font-weight: 400;
  font-size: 3rem;
  margin: 0;
  letter-spacing: 1.5px;
}

#desc > h1 {
  font-size: 5rem;
  margin: 0;
  letter-spacing: 1rem;
}

#desc > p {
  font-size: 1.2rem;
}

.custom-btn {
  background-color: var(--button-color);
  margin-top: 1.5rem;
  text-decoration: none;
  color: white;
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  width: 10rem;
  transition: transform 0.1s ease-in;
}

.custom-btn:hover {
  transform: scale(1.1);
}

#showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#img--container > img {
  animation: intro 1s ease-in-out 1 forwards;
  position: relative;
  /* animation: 3s ease-in 1s infinite reverse both running slide-in; */
}

#img--container {
  position: relative;
}

#img--container::after {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%) rotate(12deg);
  width: 80%;
  height: 48px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  filter: blur(8px);
  z-index: -1;
}

#showcase > a {
  color: white;
  text-decoration-color: white;
}

@keyframes intro {
  from {
    opacity: 0;
    transform: translateX(-15%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

footer p {
  color: white;
  width: 100%;
  font-style: italic;
  text-align: center;
  /* padding: 1rem; */
  /* showcase overflow */
}
